@use '../../styles/partials/_variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/globals' as *;

.editForm {
  display: block;
  background-color: $primary-color--Instock_White;
  border-radius: .25rem;
  box-shadow: .125rem .125rem .125rem .125rem rgba(0, 0, 0, 0.1),
    0rem .25rem .125rem .125rem rgba(0, 0, 0, 0.1);
  border-bottom: .0625rem solid $background-color--Light-Gray;
  width: 95vw;

  @include md {
    width: 88vw;
  }

  @include lg {
    width: 78vw;
  }

  &__header {
    font-size: 24px;
    line-height: 22px;
    padding: 24px 48px;
    width: 95vw;

    @include md {
      width: 88vw;
    }

    @include lg {
      width: 78vw;
    }
  }

  &__tablet-header-box {
    @include md {
      display: inline-flex;
      border-bottom: .0625rem solid $secondary-color--Cloud;
    }
  }

  &__tablet-form-box {
    @include md {
      display: inline-flex;
      border-right: .0625rem solid $secondary-color--Cloud;
      padding-right: 5%;
    }
  }

  &__tablet-form-contact-box {
    @include md {
      display: inline-flex;
    }
  }

  &__tablet-wrapper {
    @include md {
      display: inline-flex;
      width: 88vw;
      justify-content: space-evenly;
    }
  }

  &__subheader {
    @include font_SubHeader-Mobile;
    padding: 8px 16px;
    text-align: left;

    @include md {
      display: flex;
    }
  }

  &__container {
    display: block;

    @include md {
      display: flex;
    }
  }

  &__whd-container {
    display: flex;
    flex-direction: column;
    padding: 0 16px;

    @include md {
      border-right: .0625rem solid $secondary-color--Cloud;
      display: flex;
    }
  }

  &__whc-container {
    display: flex;
    flex-direction: column;
    padding: 0 16px;

    @include md {
      display: flex;
      padding-left: 10%;
    }
  }

  &__whd-border {
    border: .0625rem solid $secondary-color--Cloud;
    width: 95vw;
    margin-top: 8px;

    @include md {
      display: none;
      width: 88vw;
    }

    @include lg {
      width: 78vw;
    }
  }

  &__wh-form {
    @include md {
      display: flex;
      padding: 0 16px;
    }
  }

  &__contact-form {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
  }

  &__input {
    border-radius: 1.25rem;
    border: .0625rem solid $secondary-color--Cloud;
    width: 280px;
    height: 25px;
    padding: 8px;
    margin-bottom: 8px;
  }

  &__label {
    padding: 1.6px 0;
    @include font_Body-Medium-Mobile;
    text-align: left;
  }

  &__button-box {
    display: flex;
    background-color: $background-color--Light-Gray;
    justify-content: space-evenly;
    padding: 16px;
    position: relative;

    @include md {
      justify-content: end;
    }
  }
}

.btn--icon {
  position: absolute;
  top: 157px;
  left: 30px;

  @include md {
    top: 105.8px;
    left: 74.8px;
  }

  @include lg {
    top: 105.8px;
    left: 154.8px;
  }
}

.btn--plus {
  position: absolute;
  top: 37px;
  left: 166.8px;
  height: 16px;
}

.btn__cancelee {
  background-color: $primary-color--Instock_White;
  display: flex;
  justify-content: center;
  width: 110px;
  border-radius: 30px;
  border: .0625rem solid $secondary-color--Cloud;
  padding: 10px;
  margin: 8px;
  transition: ease-in-out 0.06s;
  height: 40px;
  @include font_Labels-Links-Buttons-Mobile;
}

.btn__submit {
  width: 125px;
  display: flex;
  justify-content: center;
  border: .0625rem solid $secondary-color--Cloud;
  height: 40px;
  position: relative;
  @include font_Labels-Links-Buttons-Mobile;
}