@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/globals" as *;
@use "../../styles/partials/variables" as *;

.addForm {
    display: block;
    background-color: $primary-color--Instock_White;
    border-radius: 4px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
    width: 95vw;
    @include md {
        width: 88vw;
    }
    @include lg {
        width: 78vw;
    }

    &__header {
        font-size: 1.5rem;
        line-height: 1.375rem;
        padding: 1.5rem 3rem;
        width: 95vw;
        @include md {
            width: 88vw;
        }
        @include lg {
            width: 78vw;
        }
    }
    &__tablet-header-box {
        @include md {
            display: inline-flex;
            border-bottom: 1px solid $secondary-color--Cloud;
        }
    }
    &__tablet-form-box {
        @include md {
            display: inline-flex;
            border-right: 1px solid $secondary-color--Cloud;
            padding-right: 5%;
        }
    }
    &__tablet-form-contact-box {
        @include md {
            display: inline-flex;
        }
    }
    &__tablet-wrapper {
        @include md {
            display: inline-flex;
            width: 90vw;
            justify-content: space-evenly;
        }
    }
    &__subheader {
        @include font_SubHeader-Mobile;
        padding: .5rem 1rem;
        text-align: left;
        @include md {
            display: flex;
        }
    }
    &__container {
        display: block;
        @include md {
            display: flex;
        }
    }
    &__whd-container {
        padding: 0;
    }
    &__whd-border {
        border: 1px solid $secondary-color--Cloud;
        width: 95vw;
        margin-top: .5rem;
        @include md {
            display: none;
            width: 88vw;
        }
        @include lg {
            width: 78vw;
        }
    }
    &__wh-form {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
    }
    &__contact-form {
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
    }
    &__input {
        border-radius: 20px;
        border: 1px solid $secondary-color--Cloud;
        width: 17.5rem;
        height: 1.5625rem;
        padding: .5rem;
        margin-bottom: .5rem;
    }
    &__label {
        padding: .1rem 0;
        @include font_Body-Medium-Mobile;
        text-align: left;
    }
    &__button-box {
        display: flex;
        background-color: $background-color--Light-Gray;
        justify-content: space-evenly;
        padding: 1rem;
        position: relative;
        @include md {
            justify-content: end;
        }
    }
}

.btn--icon {
    position: absolute;
    top: 9.8125rem;
    left: 1.375rem;
}

.btn--plus {
    position: absolute;
    top: 2.3125rem;
    left: 10.425rem;
    height: 1rem;
}

.btn__cancel {
    background-color: $primary-color--Instock_White;
    display: flex;
    justify-content: center;
    width: 6.875rem;
    border-radius: 1.875rem;
    border: 1px solid $secondary-color--Cloud;
    padding: .625rem;
    margin: .5rem;
    transition: ease-in-out .06s;
    height: 2.5rem;
    @include font_Labels-Links-Buttons-Mobile;
}
.btn__submit {
    width: 7.8125rem;
    display: flex;
    justify-content: center;
    border: 1px solid $secondary-color--Cloud;
    height: 2.5rem;
    position: relative;
    @include font_Labels-Links-Buttons-Mobile;
}
