@use '../../styles/partials/typography' as *;
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/globals' as *;

.delete-container {
    background-color: rgb(19, 24, 44, 0.7);
    position: fixed; // Change this from absolute to fixed
    top: 0;
    left: 0; // Add this to make sure it starts from the left edge of the page
    width: 100%;
    height: 100vh;
    display: flex; // Add this to center the content div
    justify-content: space-between; // Add this to center the content div horizontally
    align-items: center;
}

.content {
    background: #ffffff;
    position: relative;
    padding: 16px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_icon {
        display: flex;
        align-self: flex-end;
    }

    &__textbox{
        padding-bottom: 16px;
    }

    &__btns {
        display: flex;
        align-items: center;
        width: 100%;
        padding-bottom: 16px; // Add this to give some space at the bottom
        display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 16px;
    }

    &__btns-cancel{
        background-color: $primary-color--Instock_White;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8.3rem;
        border-radius: 20px;
        border: 1px solid $secondary-color--Cloud;
        padding-left: 16px;
        padding-right: 16px;
        transition: ease-in-out 0.06s;
        height: 36px;
        @include font_Labels-Links-Buttons-Mobile;
    }

    &__btns-delete{
        background-color: $supporting-color--Red;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8.3rem;
        border-radius: 20px;
        border: 1px solid $supporting-color--Red;
        padding-left: 16px;
        padding-right: 16px;
        transition: ease-in-out 0.06s;
        height: 36px;
        color: $primary-color--Instock_White;
        @include font_Labels-Links-Buttons-Mobile;
    }
}