@use '../../styles/partials/_variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/globals' as *;

.footer {
    @include font_Table-Header-Mobile;
    background-color: $background-color--Light-Gray;
    color: $secondary-color--Slate;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    @include md {
        @include font_Table-Header-Desktop;
    }

    &__body {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 96px;
        width: 100%;
        bottom: 0px;
    }

    &__text {
        padding: 16px 0px;
    }
}